
.About-outer{
    position:fixed;
    top:0;left:0;right:0;bottom:0;
    height:100%;width:100%;
    background-color: rgba(0,0,0,.5);
}
.About {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height:100%;
}
.About .closeBtn{
    height:.875rem;
    width:.875rem;
    background:none; color:none; outline: none; border:none;
}
.About-inner{
    max-width:30rem;
    background-color: #FACD00;
    width:calc(100% - 3rem);
    box-shadow: 0px .25rem .25rem rgba(0, 0, 0, 0.1);
    border-radius: .25rem
}
.About-header{
    display: flex;
    justify-content: space-between;
    padding:1rem;
}
.About-body{
    padding:1rem;
}