.About {
    position:fixed;
    top:0;left:0;right:0;bottom:0;
    height:100%;width:100%;
}
.About:before{
    content:'';
    background-color: #333;
    position: absolute;
    z-index:-1;
}
.About-body{
    max-width:17rem;
    background-color: #FACD00;
    height:100%;width:100%;
}