.Batch{
    display: flex;
    flex-flow: column;
}

.Batch .Card{
    padding:.5rem;
}
.Batch .LevelCard{
    display:flex;
    flex-flow: row;
}
.LevelCard .levelName{
}
.makerInfo{
    padding:1rem;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.Batch .Card picture{
    display:flex;
}