.Batch{
    display: flex;
    flex-flow: column;
}

.Batch .Card{
    padding:.5rem;
}
.Batch .LevelCard{
    display:flex;
    flex-flow: row;
}
.LevelCard .levelName{
    padding:1rem;
}
.makerInfo{
    display: flex;
    flex-flow: column;
}
.Batch .Card picture{
    display:flex;
}