.Batch{
    display: flex;
    flex-flow: column;
}

.Batch .Card{
    padding:.5rem;
}
.Batch .LevelCard{
    display:flex;
    flex-flow: row;
}
.LevelCard .levelName{
    padding-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.25rem;
}
.makerInfo{
    padding:.5rem .85rem;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.makerName {
    font-size: 0.77777777777rem;
}
.Batch .Card picture{
    display:flex;
}
.Batch .Card picture img {
    border-radius: .25rem;
}