.Credits .Card{
    text-align: left;
}
.Credits .Card h2{
    font-size: 1rem;
    line-height: 1.125rem;
}
.Credits .Card dl{
    font-size: 1rem;
    line-height: 1.125rem;
}
.Credits .Card dl dt{
    font-size: 1rem;
    line-height: 1.125rem;
}
.Credits .Card dl dd{
    font-size: 1rem;
    line-height: 1.125rem;
}