.Credits .Card{
    text-align: left;
}
.Credits .Card h2{
    font-size: 1rem;
    line-height: 1.125rem;
}
.Credits .Card dl{
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas:"dt dd" "dt dd";
    display: grid;
    font-size: 1rem;
    line-height: 1.125rem;
    padding-bottom: 2rem;
}
.Credits .Card dl dt{
    font-size: .875rem;
    line-height: 1.125rem;
    font-weight: bold;
    height:1.125rem;
    grid-area: dt;
}
.Credits .Card dl dt + dd {
}
.Credits .Card dl dd{
    font-size: 1rem;
    line-height: 1.125rem;
    height:1.125rem;
    grid-area: dd;
    
}