/* RESET DEFAULT HTML STYLING */
* {
  padding:0; margin:0;
  box-sizing: content-box;
}


h1{
  text-align: left;
  padding:0 0 1rem 0;
  line-height: 1.3rem;
  font-size: 1.5rem;
  font-weight: normal;
}
p{
  padding-bottom:.75rem;
  text-align: left;
}
p>strong{
  font-size: 1rem;
  font-weight: normal;
}
p{
  font-size: .875rem;
}

/* COMPONENTS */
.Card {
  padding:1rem;
  margin-bottom:2rem;
  max-width: 14rem;
  background-color: #FFEFAD;
  min-width:8rem;
}
.Button{
  display: flex;
  justify-self: flex-start;
  align-self: flex-start;
  align-items: center;
  width:100%;
  justify-content: center;
  cursor:pointer;
  background-color: #F7941D;
  color:white;
  font-size:1rem;
  font-weight: bold;
  border:none;
  padding:.875rem 0 .875rem 0;
  box-shadow: 0px .25rem .25rem rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
}
.Button .Icon.folder{
  height:1.5rem;
  width:1.5rem;
}
.Button .Icon.arrow-right{
  height:1.125rem;
  width:1.125rem;
}
.Button.primary{
  background-color: #C60034;
}
.Button .Icon {
  margin-left:.75rem;
  margin-right:-.25rem;
  height:1rem;
  width:1rem;
}

/* TYPOGRAPHY */

body {
  font-family: 'SuperMarioMakerExtended', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:16px;
  line-height: 1.125rem;
  color:#333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

@font-face {
font-family: 'SuperMarioMakerExtended';
font-style: normal;
font-weight: 400;
src: url('./fonts/SuperMarioMakerExtended.eot'); /* IE9 Compat Modes */
src: local('Super-Mario-Maker-Extended'), local('SuperMarioMakerExtended'),
     url('./fonts/SuperMarioMakerExtended.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('./fonts/SuperMarioMakerExtended.woff2') format('woff2'), /* Super Modern Browsers */
     url('./fonts/SuperMarioMakerExtended.woff') format('woff'), /* Modern Browsers */
     url('./fonts/SuperMarioMakerExtended.ttf') format('truetype'), /* Safari, Android, iOS */
     url('./fonts/SuperMarioMakerExtended.svg#SuperMarioMakerExtended') format('svg'); /* Legacy iOS */
}