.mii{
    align-self: center;
    justify-self: center;
    flex:1 0 0;
}
.makerDescription{
    padding-top:1rem;
}

.Level .levelInfo{
    display:flex;
}
.Level .levelName{
    font-size: 1rem;
    line-height: 1.5rem;
}
.Level .makerInfo{
    display: flex;
    flex:1 0 0;
    text-align: left;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.Level .makerName {
    font-size: 0.77777777777rem;
    flex:1 0 0;
}
.Level .nationality{
    margin-right:.45rem;
}
.Level .levelCard picture{
    display: flex;
}
.Level .levelCode{
    font-size:1rem;
    background: #C60034;
    border-radius: 0px 0px .25rem .25rem;
    color:white;
    padding:1rem;
    margin-bottom:1rem;;
}

.Level .info{
    padding:.5rem .85rem;
    display: flex;
    flex-flow: column;
    width: 100%;
}
.Level .levelInfo{
    display:flex;
}


.Level .difficulty{
    font-size: .75rem;
    align-self: flex-end;
    justify-self: flex-end;
}

.Level .tags {
    align-self: flex-end;
    padding-top:.2rem;
    padding-right:.2rem;
    flex: 1 0 0;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content;
    grid-gap: .3rem;
  }